//Mobile menu roll out

@keyframes navRollOut {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes navRollIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}
